@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  color: #ffffff;
  background-color: #121213;
}
body.noscroll {
  display: block;
  overflow-y: hidden;
}

a,
button,
input,
textarea {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none !important;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
}

.container {
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slide-to-unlock {
  position: relative;
  display: block;
  max-width: 100%;
  width: 300px;
  height: 60px;
  overflow: hidden;
  border-radius: 60px;
  background-color: #181818;
}
.slide-to-unlock__track {
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(315deg, #a252ff 0%, #4685ff 100%);
}
.slide-to-unlock__draggable {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: -webkit-grab;
  cursor: grab;
}
.slide-to-unlock__draggable:before {
  content: "";
  display: block;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 1/1;
  border-radius: inherit;
  background: url(../assets/chevron_right.svg) center/24px no-repeat;
  background-color: #ffffff;
}
.slide-to-unlock__draggable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.slide-to-unlock__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background: linear-gradient(333deg, #d796ff 0%, #649dff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 20px 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(18, 18, 19, 0.5);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__logo-link-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: block;
  max-width: 100%;
  width: 24px;
}
.header__logo-link-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 250%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 10px;
}
.header__social-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.header__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 6px;
}
.header__social-link_x {
  background-color: #282828;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.header__social-link_tg {
  background-image: linear-gradient(135deg, #0b00e2 0%, #3184ff 100%);
}
.header__social-link-image {
  display: block;
  max-width: 100%;
  width: 12px;
  height: auto;
}

.preloader {
  max-height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
}
.preloader__wrapper {
  max-height: 100dvh;
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}
.preloader__content {
  position: relative;
  min-height: 500dvh;
  max-width: 100%;
}
.preloader__video {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 100dvh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #222222;
  -webkit-transform: scale(0) translate3d(100%, 100%, 0);
          transform: scale(0) translate3d(100%, 100%, 0);
  pointer-events: none;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  will-change: opacity, transform;
  overflow: hidden;
}
.screen.active {
  -webkit-transform: scale(1) translate3d(0, 0, 0);
          transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
  pointer-events: all;
}
.screen > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.os {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background: url(../assets/bg.jpg) center/cover no-repeat;
}
.os__container {
  display: block;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 50px;
}
.os__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100dvh - 80px);
  padding-bottom: calc((100dvh - 80px) * 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.os__main-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 5px;
  max-width: 490px;
  width: 100%;
}
.os__main-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  gap: 10px;
  -webkit-transition: -webkit-transform ease-in-out 0.1s;
  transition: -webkit-transform ease-in-out 0.1s;
  transition: transform ease-in-out 0.1s;
  transition: transform ease-in-out 0.1s, -webkit-transform ease-in-out 0.1s;
  cursor: pointer;
}
.os__main-app.disabled {
  opacity: 0.2;
  pointer-events: none;
  cursor: auto;
}
.os__main-app:hover:not(.disabled) {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}
.os__main-app-icon {
  display: block;
  width: 75px;
  height: 75px;
  border-radius: 18px;
  overflow: hidden;
  background-color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.os__main-app-icon:has(.os__main-app-icon-image) {
  background-color: rgba(255, 255, 255, 0);
}
.os__main-app-icon-image {
  display: block;
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: inherit;
     -moz-user-select: inherit;
      -ms-user-select: inherit;
          user-select: inherit;
  pointer-events: inherit;
}
.os__main-app-text {
  display: block;
  max-width: 160px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.os__footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 13px 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(70, 70, 70, 0.6);
}
.os__footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.os__footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.os__footer-info-os {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}
.os__footer-info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}
.os__footer-info-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 34px;
  height: 34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 12px;
}
.os__footer-info-social-link_x {
  background-color: #282828;
}
.os__footer-info-social-link_tg {
  background-image: linear-gradient(135deg, #0b00e2 0%, #3184ff 100%);
}
.os__footer-info-social-link-image {
  display: block;
  max-width: 100%;
  width: 20px;
  height: auto;
}
.os__footer-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}
.os__footer-controls-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.os__footer-controls-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.os__footer-controls-button-image {
  display: block;
  max-width: 100%;
  width: 24px;
  height: auto;
}
.os__footer-controls-time {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-align: right;
  color: #fff;
}

.os-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.os-modal__body {
  display: block;
  max-width: 90vw;
  max-height: 90dvh;
  width: 986px;
  height: 508px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #101010;
  border-radius: 6px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  -webkit-box-shadow: 2px 2px 0 0 #101010;
          box-shadow: 2px 2px 0 0 #101010;
  background: rgba(70, 70, 70, 0.5);
}
.os-modal__header {
  position: relative;
  padding: 10px 40px;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: -webkit-grab;
  cursor: grab;
}
.os-modal__header-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.os-modal__header-close {
  position: absolute;
  top: 50%;
  right: 8px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: url(../assets/os/close.svg) center/cover no-repeat;
  background-color: #000000;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.os-body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(../assets/bg.jpg) center/cover no-repeat;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(-61px);
            transform: translateX(-61px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(-61px);
            transform: translateX(-61px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes progressLoading {
  0% {
    width: 0;
  }
  15% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  70% {
    width: 60%;
  }
  85% {
    width: 80%;
  }
  94% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progressLoading {
  0% {
    width: 0;
  }
  15% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  70% {
    width: 60%;
  }
  85% {
    width: 80%;
  }
  94% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.4);
}
.loading__body {
  border-radius: 40px;
  max-width: 500px;
  width: 100%;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #181818;
}
.loading__title {
  margin: 0 0 50px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}
.loading__progress {
  position: relative;
  border-radius: 90px;
  height: 61px;
  width: 100%;
  overflow: hidden;
}
.loading__progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% + 61px);
  background-image: url(../assets/progress-bg.svg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-color: #bdd2ff;
  background-position: left center;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite;
}
.loading__progress-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 0%;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #fff;
  background-color: #2b6efd;
  -webkit-transition: width ease-in-out 0.1s;
  transition: width ease-in-out 0.1s;
}
.loading__progress.animated .loading__progress-bar {
  -webkit-animation: progressLoading 2.5s linear;
          animation: progressLoading 2.5s linear;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.4);
}
.auth__body {
  max-width: 560px;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  background: #181818;
}
.auth__title {
  margin: 0 0 40px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}
.auth__method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.auth__method-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  gap: 10px;
  -webkit-transition: -webkit-transform ease-in-out 0.2s;
  transition: -webkit-transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s;
  transition: transform ease-in-out 0.2s, -webkit-transform ease-in-out 0.2s;
  will-change: transform;
  cursor: pointer;
}
.auth__method-button:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}
.auth__method-button:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.auth__method-button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 18px;
  background-color: #282828;
  pointer-events: none;
}
.auth__method-button-icon-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.auth__method-button_tg .auth__method-button-icon {
  background-image: linear-gradient(137deg, #100ee5 0%, #275ef7 99.62%);
}
.auth__method-button_gmail .auth__method-button-icon {
  background-image: linear-gradient(135deg, #ffa9a7 0%, #ceffdb 99.62%);
}
.auth__method-button_email .auth__method-button-icon {
  background-image: linear-gradient(140deg, #99ffb9 0%, #0aa30a 99.62%);
}
.auth__method-button-name {
  display: inline-block;
  padding: 2px 6px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.auth-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.4);
}
.auth-code__body {
  border-radius: 40px;
  max-width: 520px;
  width: 100%;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #181818;
}
.auth-code__title {
  margin: 0 0 14px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}
.auth-code__description {
  margin: 0 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
}
.auth-code__description-resend {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #3e8cfc;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.auth-code__code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin: 0 0 20px;
}
.auth-code__code-input {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.6666666667% - 10px);
          flex: 0 0 calc(16.6666666667% - 10px);
  width: 100%;
  padding: 16px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  border: 2px solid #2c2c2c;
  border-radius: 20px;
  outline: none;
  background-color: #2c2c2c;
}
.auth-code__code-input:user-valid {
  border: 2px solid #0056d2;
}
.auth-code__code-input:user-invalid {
  color: #ff3030;
  border: 2px solid #ff3030;
}
.auth-code__continue-button {
  display: inline-block;
  width: 100%;
  padding: 21px 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  border: none;
  border-radius: 20px;
  background-color: #313131;
  -webkit-transition: -webkit-filter ease-in-out 0.2s;
  transition: -webkit-filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s;
  transition: filter ease-in-out 0.2s, -webkit-filter ease-in-out 0.2s;
  cursor: pointer;
}
.auth-code__continue-button_valid {
  background-color: #0056d2;
}
.auth-code__continue-button_invalid {
  background-color: #ff3030;
}
.auth-code__continue-button:disabled {
  background-color: #313131;
}
.auth-code__continue-button:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}
.auth-code__continue-button:active {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.swipe-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.4);
}
.swipe-login__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swipe-login__figure-image {
  display: block;
  max-width: 100%;
  width: 248px;
  height: auto;
}
.swipe-login__title {
  margin: 20px 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 98%;
  color: #fff;
  text-align: center;
}
.swipe-login__slider {
  position: relative;
  display: block;
  max-width: 100%;
  width: 300px;
  height: 60px;
  overflow: hidden;
  border-radius: 60px;
  background-color: #181818;
}
.swipe-login__slider-track {
  position: absolute;
  width: 0;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(315deg, #a252ff 0%, #4685ff 100%);
}
.swipe-login__slider-draggable {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: block;
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: -webkit-grab;
  cursor: grab;
}
.swipe-login__slider-draggable:before {
  content: "";
  display: block;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  aspect-ratio: 1/1;
  border-radius: inherit;
  background: url(../assets/chevron_right.svg) center/24px no-repeat;
  background-color: #ffffff;
}
.swipe-login__slider-draggable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.swipe-login__slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background: linear-gradient(333deg, #d796ff 0%, #649dff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.video-screen {
  max-height: 100dvh;
  max-width: 100dvw;
  overflow: hidden;
}
.video-screen__wrapper {
  max-height: 100dvh;
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}
.video-screen__content {
  position: relative;
  max-width: 100%;
}
.video-screen__video {
  display: block;
  height: 100dvh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-sliders {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100dvh;
  padding: 120px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
.menu-sliders::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: block;
  max-width: 85%;
  max-height: 40%;
  width: 900px;
  aspect-ratio: 92/39;
  border-radius: 400px;
  background-color: #1450ff;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-filter: blur(250px);
          filter: blur(250px);
}
.menu-sliders::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: block;
  color: rgba(18, 18, 19, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 18, 19, 0)), color-stop(30%, #121213));
  background: linear-gradient(180deg, rgba(18, 18, 19, 0) 0%, #121213 30%);
  pointer-events: none;
}
.menu-sliders__main {
  position: relative;
  z-index: 10;
  max-width: 900px;
  margin: 0 auto;
}
.menu-sliders__main .swiper {
  overflow: visible;
}
.menu-sliders__main .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.menu-sliders__main-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 480px;
  height: auto;
  opacity: 0;
}
.menu-sliders__main-slide.swiper-slide-active {
  position: relative;
  z-index: 100;
  width: 54% !important;
  opacity: 1;
}
.menu-sliders__main-slide.swiper-slide-prev, .menu-sliders__main-slide.swiper-slide-next {
  position: relative;
  width: 23% !important;
  overflow: hidden;
  opacity: 1;
}
.menu-sliders__main-slide.swiper-slide-prev {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}
.menu-sliders__main-slide.swiper-slide-next {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
.menu-sliders__main-slide-image {
  display: block;
  min-width: 100%;
  height: auto;
  -webkit-transition: min-width ease-in-out 0.28s;
  transition: min-width ease-in-out 0.28s;
}
.menu-sliders__main-slide.swiper-slide-prev .menu-sliders__main-slide-image, .menu-sliders__main-slide.swiper-slide-next .menu-sliders__main-slide-image {
  min-width: 154%;
}
.menu-sliders__main-slide.swiper-slide-prev .menu-sliders__main-slide-image {
  -webkit-transform: translateX(17.5%);
          transform: translateX(17.5%);
}
.menu-sliders__main-slide.swiper-slide-next .menu-sliders__main-slide-image {
  -webkit-transform: translateX(-17.5%);
          transform: translateX(-17.5%);
}
.menu-sliders__thumbs {
  position: relative;
  z-index: 20;
}
.menu-sliders__thumbs-slide {
  display: block;
  max-width: 810px;
  margin: 0 auto;
}
.menu-sliders__thumbs-slide-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bebebe));
  background: linear-gradient(180deg, #fff 0%, #bebebe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-sliders__thumbs-slide-description {
  margin: 0 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bebebe));
  background: linear-gradient(180deg, #fff 0%, #bebebe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-sliders__thumbs-slide-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(-61px);
            transform: translateX(-61px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@keyframes progressLoading {
  0% {
    width: 0;
  }
  15% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  70% {
    width: 60%;
  }
  85% {
    width: 80%;
  }
  94% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
.os-cap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100dvh;
  height: 1080px;
  background: url(../assets/os-cap-bg.jpg) center/cover no-repeat;
}
.os-cap::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: inherit;
  height: 258px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.os-cap__charcter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: calc(100% - 8px);
  max-height: 85%;
  aspect-ratio: 533/852;
  overflow: hidden;
}
.os-cap__charcter-image {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.os-cap__loading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.os-cap__loading-body {
  border-radius: 40px;
  max-width: 320px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.os-cap__loading-title {
  margin: 0 0 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  color: #fff;
  text-align: center;
}
.os-cap__loading-progress {
  position: relative;
  border-radius: 90px;
  height: 48px;
  width: 100%;
  overflow: hidden;
}
.os-cap__loading-progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% + 61px);
  background-image: url(../assets/progress-bg.svg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-color: #bdd2ff;
  background-position: left center;
  -webkit-animation: loading 5s linear infinite;
          animation: loading 5s linear infinite;
}
.os-cap__loading-progress-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 0%;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #fff;
  background-color: #7a3fff;
  -webkit-transition: width ease-in-out 0.1s;
  transition: width ease-in-out 0.1s;
  -webkit-animation: progressLoading 4.5s linear;
          animation: progressLoading 4.5s linear;
}
.os-cap__modal {
  position: absolute;
  left: 50%;
  bottom: 20%;
  display: none;
  max-width: calc(100% - 40px);
  width: 500px;
  padding: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  background-color: rgba(24, 24, 24, 0.9);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 576px) {
  .os-cap__modal {
    top: 45px;
    bottom: auto;
  }
}
.os-cap__modal.active {
  display: block;
}
.os-cap__modal-text {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.os-cap__modal-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.os-cap__modal-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  aspect-ratio: 1/1;
  border-radius: 14px;
}
.os-cap__modal-social-link::before {
  content: "";
  display: block;
  width: 24px;
  aspect-ratio: 1/1;
}
.os-cap__modal-social-link_x {
  background-color: #d3d4d9;
}
.os-cap__modal-social-link_x::before {
  background: url(../assets/os/logo-x.svg) center/cover no-repeat;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.os-cap__modal-social-link_tg {
  background-image: linear-gradient(135deg, #0b00e2 0%, #3184ff 100%);
}
.os-cap__modal-social-link_tg::before {
  background: url(../assets/os/logo-tg.svg) center/cover no-repeat;
}