@keyframes loading {
  0% {
    transform: translateX(-61px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes progressLoading {
  0% {
    width: 0;
  }
  15% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  70% {
    width: 60%;
  }
  85% {
    width: 80%;
  }
  94% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  background: rgba(32, 32, 32, 0.4);

  &__body {
    border-radius: 40px;
    max-width: 500px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    background: #181818;
  }

  &__title {
    margin: 0 0 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 120%;
    color: #fff;
    text-align: center;
  }

  &__progress {
    position: relative;
    border-radius: 90px;
    height: 61px;
    width: 100%;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: calc(100% + 61px);
      background-image: url(../assets/progress-bg.svg);
      background-size: auto 100%;
      background-repeat: repeat-x;
      background-color: #bdd2ff;
      background-position: left center;
      animation: loading 3s linear infinite;
    }

    &-bar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 0%;
      overflow: hidden;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 100%;
      color: #fff;
      background-color: #2b6efd;
      transition: width ease-in-out 0.1s;
    }

    &.animated &-bar {
      animation: progressLoading 2.5s linear;
    }
  }
}
