.os-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    max-width: calc(100dvw - 40px);
    max-height: 90dvh;
    width: 986px;
    height: 508px;
    box-sizing: border-box;
    overflow: hidden;
    border: 2px solid #101010;
    border-radius: 6px;
    backdrop-filter: blur(40px);
    box-shadow: 2px 2px 0 0 #101010;
    background-color: #1a1a1c;
  }

  &__header {
    position: relative;
    padding: 13px 40px;
    border-bottom: 1px solid #414142;
    background-color: rgba($color: #000000, $alpha: 0.6);
    cursor: grab;

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.04em;
      color: #fff;
      text-align: center;
    }

    &-close {
      position: absolute;
      top: 50%;
      right: 8px;
      display: block;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background: url(../assets/os/close.svg) center / cover no-repeat;
      background-color: #414142;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &__wrapper {
    flex: 1 1 auto;
    margin: 20px 0;
    padding: 0 20px;
    height: 100%;
    overflow: auto;
    scrollbar-color: #414142 rgba($color: #414142, $alpha: 0);
    scrollbar-width: thin;
  }

  &__content {
    display: block;
  }
}
