.os-modal-profile {
  & .os-modal__body {
    position: relative;
    width: 390px;
    height: 726px;
    overflow: hidden;
  }

  & .os-modal__header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    &::before {
      content: '';
      display: inline-block;
      flex: 0 0 auto;
      width: 18px;
      height: 18px;
      border-radius: 20px;
      background-color: #6cf100;
    }
  }

  & .os-modal__content {
    height: 100%;
  }

  &__main {
    &-banner {
      position: relative;
      display: block;
      width: 100%;
      height: 160px;
      margin: 0 0 16px;
      border-radius: 12px;
      overflow: hidden;

      &-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-id {
        position: absolute;
        top: 50%;
        right: 20px;
        font-weight: 700;
        font-size: 32px;
        line-height: 98%;
        color: #fff;
        transform: translateY(-50%);
      }
    }

    &-title {
      margin: 0 0 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 98%;
      color: #fff;
    }

    &-description {
      margin: 0 0 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #fff;
    }

    &-social {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 0 0 16px;

      &-button {
        position: relative;
        flex: 0 0 calc(50% - 10px / 2);
        overflow: hidden;
        border-radius: 12px;
        cursor: pointer;

        &-name {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 10;
          display: flex;
          align-items: center;
          gap: 6px;
          max-width: calc(100% - 20px);
          width: fit-content;
          padding: 5px 6px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 12px;
          line-height: 140%;
          color: #fff;
          border-radius: 8px;
          background-color: rgba(31, 31, 31, 0.76);
          pointer-events: none;

          &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 18px;
            aspect-ratio: 1 / 1;
            background-color: #ffffff;
            border-radius: 20px;
          }
        }

        &.active &-name {
          &::after {
            background: url(../assets/os/check.svg) center / 10px no-repeat;
            background-color: #029102;
          }
        }

        &-figure {
          display: block;
          width: 100%;
          height: 100%;
          filter: grayscale(100%) brightness(50%);
          pointer-events: none;

          &-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &.active &-figure {
          filter: grayscale(0%) brightness(100%);
        }
      }

      &-email {
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(25px);
        background: rgba(21, 21, 21, 0.5);

        &-modal {
          display: block;
          max-width: calc(100% - 40px);
          width: 100%;
          padding: 32px 16px 16px;
          box-sizing: border-box;
          border-radius: 24px;
          background-color: #181818;

          &-heading {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0 0 14px;
          }

          &-back {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            width: 28px;
            aspect-ratio: 1 / 1;
            border: none;
            border-radius: 6px;
            background-color: #29292b;
            cursor: pointer;

            &::before {
              content: '';
              width: 20px;
              aspect-ratio: 1 / 1;
              background: url(../assets/os/back.svg) center / cover no-repeat;
            }
          }

          &-title {
            margin: 0;
            font-weight: 500;
            font-size: 22px;
            line-height: 140%;
            color: #fff;
          }

          &-description {
            margin: 0 0 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 98%;
            color: #fff;
            text-align: center;
          }

          &-form {
            display: flex;
            align-items: center;
            gap: 8px;

            &-input {
              display: inline-block;
              flex: 1 1 auto;
              min-height: 60px;
              padding: 17px 20px;
              box-sizing: border-box;
              font-weight: 500;
              font-size: 18px;
              line-height: 98%;
              color: #fff;
              border: none;
              border-radius: 14px;
              background-color: #222222;

              &::placeholder {
                color: #ffffff;
              }
            }

            &-submit {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 60px;
              padding: 0;
              box-sizing: border-box;
              aspect-ratio: 1 / 1;
              border: none;
              border-radius: 14px;
              background-color: #1363dc;
              cursor: pointer;

              &::before {
                content: '';
                width: 24px;
                aspect-ratio: 1 / 1;
                background: url(../assets/os/back.svg) center / cover no-repeat;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    &-referral {
      &-button {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 124px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
        border: none;
        border-radius: 12px;
        background: url(../assets/os/profile-main-referral.jpg) center / cover no-repeat;
        cursor: pointer;

        @include mobile {
          min-height: 236px;
        }

        &-text {
          display: flex;
          align-items: center;
          gap: 6px;
          max-width: calc(100% - 20px);
          width: fit-content;
          padding: 6px 10px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #fff;
          border-radius: 8px;
          background-color: rgba(31, 31, 31, 0.76);
          pointer-events: none;

          &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 16px;
            aspect-ratio: 1 / 1;
            border-radius: 20px;
            background: url(../assets/os/arrow-up-right.svg) center / 16px no-repeat;
          }
        }
      }
    }
  }

  &__page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: max-content;
    box-sizing: border-box;

    &-back {
      position: relative;
      min-height: 124px;
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 12px;
      margin: 0 0 16px;

      &-banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        &-image {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &-button {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        padding: 6px 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 98%;
        color: #fff;
        border: none;
        border-radius: 8px;
        backdrop-filter: blur(15px);
        background-color: rgba(32, 32, 34, 0.8);
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          flex: 0 0 auto;
          width: 16px;
          aspect-ratio: 1 / 1;
          border-radius: 20px;
          background: url(../assets/os/arrow-left.svg) center / cover no-repeat;
        }
      }
    }

    &-brief {
      padding: 16px;
      border-radius: 12px;
      background-color: #202022;

      &-title {
        margin: 0 0 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #fff;
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 0 10px;
        padding-left: 20px;

        &-item {
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: #fff;
        }
      }

      &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        &-button {
          display: flex;
          align-items: center;
          flex: 0 0 calc(50% - 8px / 2);
          max-width: calc(50% - 8px / 2);
          padding: 8px 10px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: #28282b;

          &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 18px;
            aspect-ratio: 1 / 1;
            background-color: #ffffff;
            border-radius: 20px;
          }

          &.active {
            &::after {
              background: url(../assets/os/check.svg) center / 10px no-repeat;
              background-color: #029102;
            }
          }

          &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            width: 34px;
            aspect-ratio: 1 / 1;
            margin-right: 10px;
            border-radius: 34px;
            background-color: #1363dc;

            &-image {
              display: block;
              width: 20px;
              aspect-ratio: 1 / 1;
              object-fit: contain;
            }
          }

          &-text {
            margin-right: 6px;
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;
            color: #fff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }

    &-codes {
      margin: 0 0 16px;

      &-heading {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        margin: 0 0 16px;

        &-title {
          font-weight: 700;
          font-size: 18px;
          line-height: 120%;
          letter-spacing: 0.04em;
          color: #fff;
        }

        &-count {
          flex: 0 0 auto;
          width: fit-content;
          padding: 5px 8px;
          font-weight: 500;
          font-size: 14px;
          line-height: 98%;
          color: #fff;
          border-radius: 6px;
          background: #1363dc;
        }

        &-time {
          display: flex;
          align-items: center;
          flex: 0 0 auto;
          width: fit-content;
          padding: 4px 8px;
          font-weight: 500;
          font-size: 14px;
          line-height: 98%;
          color: #fff;
          border-radius: 6px;
          background: #1363dc;

          &::before {
            content: '';
            display: inline-block;
            flex: 0 0 auto;
            width: 16px;
            aspect-ratio: 1 / 1;
            background: url(../assets/os/timer.svg) center / cover no-repeat;
          }
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 160px;
        overflow: auto;
        scrollbar-color: #414142 rgba($color: #414142, $alpha: 0);
        scrollbar-width: thin;
      }

      &-item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        padding: 8px;
        box-sizing: border-box;
        border-radius: 12px;
        background: #ffffff;
        pointer-events: none;
        filter: grayscale(100%) brightness(20%);

        &::before {
          content: '';
          flex: 0 0 auto;
          width: 32px;
        }

        &::after {
          content: '';
          position: absolute;
          z-index: 1;
          top: 1px;
          left: 1px;
          right: 1px;
          bottom: 1px;
          border-radius: 12px;
          background-color: #777777;
        }

        &.active {
          background: linear-gradient(
            200deg,
            #262626 0%,
            #262626 40%,
            #cc4bff 50%,
            #54ccff 80%,
            #5b90ff 100%
          );
          pointer-events: all;
          filter: grayscale(0%) brightness(100%);

          &::after {
            background-color: #1a1a1c;
          }
        }

        &-code {
          position: relative;
          z-index: 10;
          font-weight: 700;
          font-size: 18px;
          line-height: 98%;
          letter-spacing: 0.1em;
          color: #d9d9d9;
        }

        &-copy {
          position: relative;
          z-index: 10;
          flex: 0 0 auto;

          &-button {
            display: block;
            width: 32px;
            aspect-ratio: 1 / 1;
            padding: 0;
            border: none;
            border-radius: 6px;
            background: url(../assets/os/copy.svg) center / 16px no-repeat;
            background-color: #888888;
            cursor: pointer;
          }
        }

        &.active &-copy-button {
          background-color: #262626;
        }
      }

      &-more {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 0;

        &-info {
          font-weight: 400;
          font-size: 14px;
          line-height: 98%;
          letter-spacing: 0.04em;
          color: #1363dc;
        }

        &-button {
          font-weight: 400;
          font-size: 14px;
          line-height: 98%;
          letter-spacing: 0.04em;
          text-decoration: underline;
          text-decoration-skip-ink: none;
          color: #1363dc;
          border: none;
          background-color: rgba($color: #000000, $alpha: 0);
          cursor: pointer;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &-referrals {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1 1 auto;

      &-heading {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 8px 9px;

        &-title {
          display: flex;
          align-items: center;
          gap: 6px;
          font-weight: 700;
          font-size: 16px;
          line-height: 98%;
          color: #fff;

          &::before {
            content: '';
            display: inline-block;
            width: 14px;
            aspect-ratio: 1 / 1;
            box-sizing: border-box;
            border: 4px solid #1363dc;
            border-radius: 14px;
            background-color: #8ab9ff;
          }
        }

        &-count {
          font-weight: 700;
          font-size: 16px;
          line-height: 98%;
          color: #fff;
        }
      }

      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1 1 auto;
      }

      &-list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex: 1 1 auto;
        gap: 8px;
        margin: 0;
        padding: 0;
        list-style-type: none;

        &-item {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 0 0 calc(100% / 3 - 8px / 3 * 2);
          padding: 6px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 12px;
          line-height: 98%;
          letter-spacing: 0.04em;
          color: #fff;
          border-radius: 10px;
          background-color: #262626;

          &::before {
            content: '';
            display: block;
            width: 30px;
            aspect-ratio: 1 / 1;
            background: url(../assets/os/slo-icon.svg) center / cover no-repeat;
          }
        }
      }

      &-controls {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        width: fit-content;
        padding: 10px;
        margin: 32px auto 0;

        &-prev,
        &-next {
          display: flex;
          align-items: center;
          flex: 0 0 auto;
          padding: 4px 8px;
          font-weight: 500;
          font-size: 14px;
          line-height: 98%;
          color: #ffffff;
          border: 1px solid #ffffff;
          border-radius: 8px;
          background-color: rgba($color: #000000, $alpha: 0);
          cursor: pointer;

          &::before {
            content: '';
            display: block;
            width: 20px;
            aspect-ratio: 1 / 1;
            background: url(../assets/os/caret-left.svg) center / cover no-repeat;
          }

          &.disabled {
            pointer-events: none;
            filter: brightness(20%);
          }
        }

        &-next {
          flex-direction: row-reverse;

          &::before {
            transform: rotate(180deg);
          }
        }

        &-info {
          flex: 1 1 auto;
          padding: 7px;
          font-weight: 500;
          font-size: 14px;
          line-height: 98%;
          color: #fff;
          text-align: center;

          &.disabled {
            pointer-events: none;
            filter: brightness(20%);
          }
        }
      }
    }
  }
}
