.os-modal-wallet {
  font-family: 'IBM Plex Sans', sans-serif;

  & .os-modal__body {
    position: relative;
    width: 390px;
    height: 726px;
    overflow: hidden;

    @include mobile {
      max-width: 100dvw;
      max-height: 100dvh;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

  & .os-modal__header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    &::before {
      content: '';
      display: inline-block;
      flex: 0 0 auto;
      width: 18px;
      height: 18px;
      border-radius: 20px;
      background-color: #6cf100;
    }
  }

  & .os-modal__wrapper {
    position: relative;
    margin: 20px 0;
    padding: 0 15px;
  }

  & .os-modal__content {
    height: 100%;
  }

  &__heading {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 80px;
    margin: 0 0 32px;

    &-title {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 600;
      font-size: 28px;
      color: #fff;
    }

    &-back {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      gap: 2px;
      padding: 6px 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 98%;
      color: #fff;
      border: none;
      border-radius: 8px;
      backdrop-filter: blur(15px);
      background-color: rgba(32, 32, 34, 0.8);
      transform: translateY(-50%);
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        flex: 0 0 auto;
        width: 16px;
        aspect-ratio: 1 / 1;
        border-radius: 20px;
        background: url(../assets/os/arrow-left.svg) center / cover no-repeat;
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-info {
      position: relative;
      padding: 20px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 16px;
      background: url(../assets/os/wallet-main-info-bg.jpg) right bottom / cover no-repeat;
      background-color: rgba($color: #ffffff, $alpha: 0.1);

      &-name {
        margin: 0 0 4px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
      }

      &-token {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        margin: 0 0 10px;
        padding: 4px;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.2);
        border-radius: 4px;
        background-color: rgba($color: #ffffff, $alpha: 0.1);

        &-code {
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 500;
          font-size: 14px;
          color: #ffffff;
        }

        &-copy {
          display: inline-block;
          width: 16px;
          padding: 0;
          box-sizing: border-box;
          aspect-ratio: 1 / 1;
          border: none;
          background: url(../assets/os/copy.svg) center / cover no-repeat;
          cursor: pointer;
        }
      }

      &-crypto {
        margin: 0 0 2px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        color: #ffffff;
      }

      &-money {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #ffffff;
        opacity: 0.6;
      }

      &-more {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;

        &-button {
          display: inline-block;
          width: 28px;
          padding: 0;
          box-sizing: border-box;
          aspect-ratio: 1 / 1;
          border: none;
          border-radius: 8px;
          background: url(../assets/os/more.svg) center / 18px no-repeat;
          background-color: rgba(32, 42, 57, 0.5);
          backdrop-filter: blur(20px);
          cursor: pointer;
        }
      }

      &-controls {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: fit-content;

        &-receive,
        &-send {
          display: inline-block;
          width: 28px;
          padding: 0;
          box-sizing: border-box;
          aspect-ratio: 1 / 1;
          border: none;
          border-radius: 8px;
          background-position: center;
          background-size: 18px;
          background-repeat: no-repeat;
          background-color: rgba(32, 42, 57, 0.5);
          backdrop-filter: blur(20px);
          cursor: pointer;
        }

        &-receive {
          background-image: url(../assets/os/under.svg);
        }

        &-send {
          background-image: url(../assets/os/up.svg);
        }
      }
    }

    &-network {
      &-heading {
        display: flex;
        align-items: flex-start;
        gap: 6px;
        margin: 0 0 16px;

        &-icon {
          flex: 0 0 auto;

          &-image {
            display: block;
            max-width: 100%;
            width: 16px;
            height: auto;
          }
        }

        &-title {
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          font-size: 14px;
          color: #ffffff;
        }
      }

      &-contract {
        padding: 12px;
        border-radius: 12px;
        background: url(../assets/os/gradient-bg.jpg) center no-repeat;
        background-size: 130%;

        &-title {
          position: relative;
          z-index: 10;
          display: flex;
          gap: 7px;
          margin: 0 0 10px;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          color: #ffffff;

          &:before {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 3px;
            border-radius: 16px;
            background-color: #5ccc00;
          }
        }

        &-subtitle {
          position: relative;
          z-index: 10;
          margin: 0 0 8px;
          font-family: 'IBM Plex Sans', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 98%;
          color: #ffffff;
        }

        &-details {
          position: relative;
          z-index: 1;

          &::before {
            content: '';
            position: absolute;
            right: 0;
            bottom: 100%;
            display: inline-block;
            width: 193px;
            height: 130px;
            background: url(../assets/os/wallet-slo-network.png) right bottom / contain no-repeat;
          }

          &-input {
            display: inline-block;
            width: 100%;
            padding: 15px 16px;
            padding-right: 80px;
            box-sizing: border-box;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 98%;
            color: #d5d5d5;
            border: 1px solid #3a3a3d;
            border-radius: 14px;
            background-color: #17171a;
          }

          &-paste {
            position: absolute;
            top: 50%;
            right: 10px;
            display: inline-block;
            padding: 8px 6px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 500;
            font-size: 14px;
            line-height: 98%;
            color: #d1d1d1;
            border: none;
            border-radius: 8px;
            background-color: #3a3a3d;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }

      &-tokens {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 16px 0 0;

        &-hidden {
          display: flex;
          flex-direction: column;
          gap: 16px;

          &-more {
            display: flex;
            justify-content: center;
            align-items: center;

            &-button {
              display: flex;
              align-items: center;
              width: fit-content;
              font-weight: 600;
              font-size: 14px;
              color: #fff;
              border: none;
              background-color: rgba($color: #ffffff, $alpha: 0);
              cursor: pointer;

              &::after {
                content: '';
                display: block;
                flex: 0 0 auto;
                width: 16px;
                aspect-ratio: 1 / 1;
                background: url(../assets/os/caret-down.svg);
                transform: rotate(180deg);
                transition: transform ease-out 0.1s;
              }
            }
          }

          &.active &-more {
            &-button {
              &::after {
                transform: rotate(0deg);
              }
            }
          }

          &-wrapper {
            display: flex;
            flex-direction: column;
            gap: 16px;
            display: none;
          }

          &.active &-wrapper {
            display: flex;
          }
        }
      }

      &-token {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 16px;
        border-radius: 16px;
        background-color: #202022;

        &-icon {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex: 0 0 auto;
          margin: 0;

          &-image {
            display: block;
            max-width: 100%;
            width: 40px;
            height: auto;
          }
        }

        &-info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          flex: 1 1 auto;

          &-name {
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: #ffffff;
          }

          &-entity {
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 12px;
            color: #ffffff;
          }

          &-cost {
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 600;
            font-size: 14px;
            color: #ffffff;
            text-align: right;
          }

          &-changes {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 500;
            font-size: 12px;
            text-align: right;
            color: #ffffff;

            &:before {
              display: inline-block;
              flex: 0 0 auto;
              width: 16px;
              aspect-ratio: 1 / 1;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
            }

            &-up {
              color: #50af03;

              &:before {
                content: '';
                background-image: url(../assets/os/course-up.svg);
              }
            }
          }
        }
      }
    }

    &-garry {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 124px;
      padding: 12px;
      padding-left: 130px;
      box-sizing: border-box;
      border-radius: 12px;
      background: url(../assets/os/gradient-bg.jpg) center no-repeat;
      background-size: 130%;

      &-figure {
        position: absolute;
        left: 8px;
        bottom: 0;
        z-index: 1;
        width: fit-content;
        margin: 0;

        &-image {
          display: block;
          max-width: 100%;
          width: 164px;
          height: auto;
        }
      }

      &-title {
        position: relative;
        z-index: 10;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: #fff;
      }
    }

    &-alerts {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      max-height: calc(100% - 45px);
      box-sizing: border-box;
      padding: 10px 20px 30px;
      opacity: 1;
      overflow: auto;
      pointer-events: all;
      scrollbar-color: #414142 rgba($color: #414142, $alpha: 0);
      scrollbar-width: thin;

      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &:has(&-wrapper:empty),
      &:empty {
        opacity: 0;
        pointer-events: none;
      }

      &-item {
        padding: 14px;
        border-radius: 16px;
        border-left: 16px solid #ffffff;
        backdrop-filter: blur(30px);
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
        background-color: #202022;

        &_approve {
          border-color: #7fff00;
        }

        &_error {
          border-color: #ff3030;
        }

        &_info {
          border-color: #3971ff;
        }

        &-title {
          display: flex;
          align-items: center;
          gap: 6px;

          margin: 0 0 6px;
          font-weight: 700;
          font-size: 18px;
          line-height: 130%;
          color: #fff;

          &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 24px;
            aspect-ratio: 1 / 1;
          }
        }

        &_approve &-title {
          color: #7fff00;

          &::after {
            background-image: url(../assets/os/warning-approve.svg);
          }
        }

        &_error &-title {
          color: #ff3030;

          &::after {
            background-image: url(../assets/os/warning-error.svg);
          }
        }

        &_info &-title {
          color: #3971ff;

          &::after {
            background-image: url(../assets/os/warning-info.svg);
          }
        }

        &-text {
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
          color: #fff;
        }
      }
    }
  }

  &__transaction {
    &-balance {
      margin: 0 0 32px;

      &-title {
        margin: 0 0 4px;
        font-weight: 500;
        font-size: 18px;
        color: #414142;
        text-align: center;
      }

      &-value {
        font-weight: 600;
        font-size: 44px;
        color: #fff;
        text-align: center;
      }

      &-info {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        margin: 0 0 32px;

        &-increment {
          font-weight: 500;
          font-size: 16px;
          color: #50af03;
        }

        &-label {
          display: inline-block;
          width: fit-content;
          padding: 2px 6px;
          font-weight: 500;
          font-size: 12px;
          color: #fff;
          border-radius: 6px;
          background: #50af03;
        }
      }

      &-buttons {
        display: flex;
        align-items: center;
        gap: 8px;

        &-buy,
        &-sell,
        &-send,
        &-receive {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 6px;
          flex: 1 1 20%;
          padding: 16px 8px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 14px;
          line-height: 98%;
          color: #5a5a5e;
          border: none;
          border-radius: 16px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          background-color: #202022;
          cursor: pointer;

          &::before {
            content: '';
            display: block;
            width: 28px;
            aspect-ratio: 1 / 1;
          }
        }

        &-buy {
          &::before {
            background-image: url(../assets/os/wallet-buy.svg);
          }
        }

        &-sell {
          &::before {
            background-image: url(../assets/os/wallet-sell.svg);
          }
        }

        &-send {
          &::before {
            background-image: url(../assets/os/wallet-send.svg);
          }
        }

        &-receive {
          &::before {
            background-image: url(../assets/os/wallet-receive.svg);
          }
        }
      }
    }

    &-info {
      position: relative;
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      gap: 20px;
      min-height: 144px;
      padding: 20px;
      margin: 0 0 32px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 16px;
      background: url(../assets/os/gradient-bg.jpg) center no-repeat;
      background-size: 130%;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        width: 144px;
        background: url(../assets/os/wallet-slo-transaction.png) right bottom / contain no-repeat;
      }

      &-item {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        &-heading {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 6px;

          &-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 98%;
            color: #fff;
          }

          &-tag {
            display: inline-block;
            flex: 0 0 auto;
            padding: 4px;
            font-weight: 700;
            font-size: 10px;
            line-height: 98%;
            color: #fff;
            border-radius: 6px;
            text-align: center;
            background: #50af03;
          }
        }

        &-value {
          flex: 1 1 auto;
          font-weight: 700;
          font-size: 16px;
          line-height: 98%;
          color: #fff;
          text-align: center;
        }

        &-param {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;

          &-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 98%;
            color: #fff;
            text-align: center;
          }

          &-value {
            font-weight: 700;
            font-size: 16px;
            line-height: 98%;
            color: #fff;
            text-align: center;
          }
        }
      }
    }

    &-history {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &-title {
        font-weight: 500;
        font-size: 18px;
        line-height: 98%;
        color: #fff;
      }

      &-block {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &-date {
        font-weight: 400;
        font-size: 12px;
        line-height: 130%;
        color: #5a5a5e;
        text-align: center;
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
        padding: 0;
        list-style-type: none;

        &-item {
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 16px;
          border-radius: 16px;
          background-color: #202022;

          &::before {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 50px;
            aspect-ratio: 1 / 1;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
          }

          &_received {
            &::before {
              background-image: url(../assets/os/wallet-transaction-recieved.svg);
            }
          }

          &_sent {
            &::before {
              background-image: url(../assets/os/wallet-transaction-sent.svg);
            }
          }

          &_error {
            &::before {
              background-image: url(../assets/os/wallet-transaction-error.svg);
            }
          }

          &_swap {
            &::before {
              background-image: url(../assets/os/wallet-transaction-swap.svg);
            }
          }

          &-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;
            flex: 1 1 auto;

            &-status {
              font-weight: 600;
              font-size: 14px;
              color: #fff;
            }

            &-message {
              font-weight: 400;
              font-size: 12px;
              color: #525257;
            }
          }

          &-details {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 2px;
            flex: 0 0 auto;
            max-width: 120px;

            &-income {
              font-weight: 600;
              font-size: 14px;
              color: #50af03;
            }

            &-expenses {
              font-weight: 600;
              font-size: 14px;
              color: #ff3030;
            }
          }

          &_sent &-details {
            &-expenses {
              color: #327ff3;
            }
          }
        }
      }
    }
  }

  &__received {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        width: 100px;
        height: auto;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      border-radius: 12px;
      background-color: #202022;

      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #2b2b2f;

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }

        &-name {
          flex: 0 0 auto;
          font-weight: 400;
          font-size: 14px;
          color: #fff;
        }

        &-value {
          font-weight: 500;
          font-size: 14px;
          line-height: 98%;
          color: #fff;
        }

        &_received &-value,
        &_status &-value {
          color: #50af03;
        }

        &_blockchain &-value {
          font-weight: 400;
        }

        &-more {
          &-link {
            &-image {
              display: block;
              max-width: 100%;
              width: 111px;
              height: auto;
              filter: brightness(0) saturate(100%) invert(70%) sepia(78%) saturate(4225%)
                hue-rotate(56deg) brightness(93%) contrast(98%);
            }
          }
        }
      }
    }
  }

  &__sent {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        width: 100px;
        height: auto;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      border-radius: 12px;
      background-color: #202022;

      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #2b2b2f;

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }

        &-name {
          flex: 0 0 auto;
          font-weight: 400;
          font-size: 14px;
          color: #fff;
        }

        &-value {
          font-weight: 500;
          font-size: 14px;
          line-height: 98%;
          color: #fff;
        }

        &_sent &-value,
        &_status &-value {
          color: #327ff3;
        }

        &_blockchain &-value {
          font-weight: 400;
        }

        &-more {
          &-link {
            &-image {
              display: block;
              max-width: 100%;
              width: 111px;
              height: auto;
              filter: brightness(0) saturate(100%) invert(40%) sepia(81%) saturate(2411%)
                hue-rotate(202deg) brightness(99%) contrast(93%);
            }
          }
        }
      }
    }
  }

  &__error {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        width: 100px;
        height: auto;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      border-radius: 12px;
      background-color: #202022;

      &-message {
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        text-align: center;
      }

      &-more {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 8px;
        border-radius: 8px;
        background-color: #ff3030;

        &-title {
          font-weight: 500;
          font-size: 14px;
          line-height: 130%;
          color: #5e0000;
        }

        &-link {
          &-image {
            display: block;
            max-width: 100%;
            width: 111px;
            height: auto;
            filter: brightness(0) saturate(100%) invert(7%) sepia(67%) saturate(5766%)
              hue-rotate(14deg) brightness(96%) contrast(104%);
          }
        }
      }
    }
  }

  &__swap {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        width: 100px;
        height: auto;
      }
    }

    &-details {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px;
      border-radius: 12px;
      background-color: #202022;

      &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding-bottom: 8px;
        border-bottom: 1px solid #2b2b2f;

        &:last-child {
          padding-bottom: 0;
          border-bottom: none;
        }

        &-name {
          flex: 0 0 auto;
          font-weight: 400;
          font-size: 14px;
          color: #fff;
        }

        &-value {
          font-weight: 500;
          font-size: 14px;
          line-height: 98%;
          color: #fff;
        }

        &_paid &-value,
        &_status &-value {
          color: #50af03;
        }

        &_received &-value {
          color: #ff3030;
        }

        &_blockchain &-value {
          font-weight: 400;
        }

        &-more {
          &-link {
            &-image {
              display: block;
              max-width: 100%;
              width: 111px;
              height: auto;
              filter: brightness(0) saturate(100%) invert(70%) sepia(78%) saturate(4225%)
                hue-rotate(56deg) brightness(93%) contrast(98%);
            }
          }
        }
      }
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    & .os-modal-wallet__heading {
      padding: 0;
      margin-bottom: 16px;

      &-title {
        flex: 1 1 auto;
        padding: 0;
        text-align: left;
      }
    }

    &-content {
      margin: 0 0 34px;
      padding: 16px;
      border-radius: 16px;
      background-color: #202022;

      &-title {
        margin: 0 0 8px;
        font-weight: 500;
        font-size: 18px;
        line-height: 98%;
        color: #fff;
        text-align: center;
      }

      &-token {
        margin: 0 0 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 170%;
        text-align: center;
        color: #fff;
        text-align: center;
      }

      &-qr {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 16px;

        &-image {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      &-copy {
        margin: 0 0 8px;

        &-button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;
          padding: 11px 32px;
          width: 100%;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 12px;
          line-height: 98%;
          color: #fff;
          border: none;
          border-radius: 14px;
          background-color: #106af3;
          cursor: pointer;

          &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 24px;
            aspect-ratio: 1 / 1;
            background: url(../assets/os/copy.svg) center / cover no-repeat;
          }
        }
      }

      &-disclaimer {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
        color: #fff;
      }
    }

    &-back {
      display: flex;
      align-items: flex-end;
      flex: 1 1 auto;

      &-wrapper {
        flex: 1 1 auto;
        padding: 20px 15px 0;
        margin: 0 -15px;
        border-top: 1px solid #3c3c40;
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 17px 32px;
        width: 100%;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 16px;
        line-height: 98%;
        color: #fff;
        border: none;
        border-radius: 14px;
        background-color: #3a3a3d;
        cursor: pointer;
      }
    }
  }
}
