.os-modal-profile {
  & .os-modal__body {
    width: 390px;
    height: 726px;
  }

  & .os-modal__header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    &::before {
      content: '';
      display: inline-block;
      flex: 0 0 auto;
      width: 18px;
      height: 18px;
      border-radius: 20px;
      background-color: #6cf100;
    }
  }

  &__main {
    &-banner {
      position: relative;
      display: block;
      width: 100%;
      height: 160px;
      margin: 0 0 16px;
      border-radius: 12px;
      overflow: hidden;

      &-image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &-id {
        position: absolute;
        top: 50%;
        right: 20px;
        font-weight: 700;
        font-size: 32px;
        line-height: 98%;
        color: #fff;
        transform: translateY(-50%);
      }
    }

    &-title {
      margin: 0 0 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 98%;
      color: #fff;
    }

    &-description {
      margin: 0 0 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: #fff;
    }

    &-social {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      margin: 0 0 16px;

      &-button {
        position: relative;
        flex: 0 0 calc(50% - 10px / 2);
        overflow: hidden;
        border-radius: 12px;
        cursor: pointer;

        &-name {
          position: absolute;
          top: 10px;
          left: 10px;
          z-index: 10;
          display: flex;
          align-items: center;
          gap: 6px;
          max-width: calc(100% - 20px);
          width: fit-content;
          padding: 5px 6px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 12px;
          line-height: 140%;
          color: #fff;
          border-radius: 8px;
          background-color: rgba(31, 31, 31, 0.76);

          &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 18px;
            aspect-ratio: 1 / 1;
            background-color: #ffffff;
            border-radius: 20px;
          }
        }

        &.active &-name {
          &::after {
            background: url(../assets/os/check.svg) center / 10px no-repeat;
            background-color: #029102;
          }
        }

        &-figure {
          display: block;
          width: 100%;
          height: 100%;
          filter: grayscale(100%) brightness(50%);

          &-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &.active &-figure {
          filter: grayscale(0%) brightness(100%);
        }
      }
    }

    &-referral {
      &-button {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 124px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
        border: none;
        border-radius: 12px;
        background: url(../assets/os/profile-main-referral.jpg) center / cover no-repeat;
        cursor: pointer;

        @include mobile {
          min-height: 236px;
        }

        &-text {
          display: flex;
          align-items: center;
          gap: 6px;
          max-width: calc(100% - 20px);
          width: fit-content;
          padding: 6px 10px;
          box-sizing: border-box;
          font-weight: 500;
          font-size: 14px;
          line-height: 140%;
          color: #fff;
          border-radius: 8px;
          background-color: rgba(31, 31, 31, 0.76);

          &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 16px;
            aspect-ratio: 1 / 1;
            border-radius: 20px;
            background: url(../assets/os/arrow-up-right.svg) center / 16px no-repeat;
          }
        }
      }
    }
  }

  &__page {
    &-back {
      position: relative;
      min-height: 124px;
      padding: 10px;
      box-sizing: border-box;
      overflow: hidden;
      border-radius: 12px;
      margin: 0 0 16px;

      &-banner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        &-image {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      &-button {
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        padding: 6px 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 98%;
        color: #fff;
        border: none;
        border-radius: 8px;
        backdrop-filter: blur(15px);
        background-color: rgba(32, 32, 34, 0.8);
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          flex: 0 0 auto;
          width: 16px;
          aspect-ratio: 1 / 1;
          border-radius: 20px;
          background: url(../assets/os/arrow-left.svg) center / cover no-repeat;
        }
      }
    }

    &-brief {
      padding: 16px;
      border-radius: 12px;
      background-color: #202022;

      &-title {
        margin: 0 0 12px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #fff;
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 0 10px;
        padding-left: 20px;

        &-item {
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
          color: #fff;
        }
      }

      &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        &-button {
          display: flex;
          align-items: center;
          flex: 0 0 calc(50% - 8px / 2);
          max-width: calc(50% - 8px / 2);
          padding: 8px 10px;
          box-sizing: border-box;
          border-radius: 8px;
          background-color: #28282b;

          &::after {
            content: '';
            display: block;
            flex: 0 0 auto;
            width: 18px;
            aspect-ratio: 1 / 1;
            background-color: #ffffff;
            border-radius: 20px;
          }

          &.active {
            &::after {
              background: url(../assets/os/check.svg) center / 10px no-repeat;
              background-color: #029102;
            }
          }

          &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 auto;
            width: 34px;
            aspect-ratio: 1 / 1;
            margin-right: 10px;
            border-radius: 34px;
            background-color: #1363dc;

            &-image {
              display: block;
              width: 20px;
              aspect-ratio: 1 / 1;
              object-fit: contain;
            }
          }

          &-text {
            margin-right: 6px;
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;
            color: #fff;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }
  }
}
