.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: url(../assets/bg.jpg) center / cover no-repeat;
  background-color: #222222;
  transform: scale(0) translate3d(100%, 100%, 0);
  pointer-events: none;
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.8s;
  will-change: opacity, transform;

  &.active {
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
    // pointer-events: all;
  }
}
