@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
html {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  color: #ffffff;
  background-color: #121213;
}

a,
button,
input,
textarea {
  font-family: "IBM Plex Sans", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
  width: 100%;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border: none;
  border-radius: 12px;
  outline: none;
  background-image: -webkit-gradient(linear, right top, left top, from(#1363dc), to(#00b7ff));
  background-image: linear-gradient(270deg, #1363dc 0%, #00b7ff 100%);
  -webkit-transition-property: background-image;
  transition-property: background-image;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  cursor: pointer;
}
.button:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#3585ff), to(#8bdeff));
  background-image: linear-gradient(270deg, #3585ff 0%, #8bdeff 100%);
}
.button:disabled {
  color: rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, right top, left top, from(#1363dc), to(#0f4d6b));
  background-image: linear-gradient(270deg, #1363dc 0%, #0f4d6b 100%);
}
.button:disabled::before {
  opacity: 0.5;
}

.container {
  max-width: 1012px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(-61px);
            transform: translateX(-61px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(-61px);
            transform: translateX(-61px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
@-webkit-keyframes progressLoading {
  0% {
    width: 0;
  }
  15% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  70% {
    width: 60%;
  }
  85% {
    width: 80%;
  }
  94% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progressLoading {
  0% {
    width: 0;
  }
  15% {
    width: 20%;
  }
  50% {
    width: 40%;
  }
  70% {
    width: 60%;
  }
  85% {
    width: 80%;
  }
  94% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 576px) {
  .loading {
    max-width: 260px;
  }
}
.loading__body {
  border-radius: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.loading__progress {
  position: relative;
  border-radius: 90px;
  height: 61px;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 576px) {
  .loading__progress {
    height: 40px;
  }
}
.loading__progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: calc(100% + 61px);
  background-image: url(../assets/progress-bg.svg);
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-color: #bdd2ff;
  background-position: left center;
  -webkit-animation: loading 3s linear infinite;
          animation: loading 3s linear infinite;
}
.loading__progress-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 0%;
  overflow: hidden;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  color: #fff;
  background-color: #2b6efd;
  -webkit-transition: width ease-in-out 0.1s;
  transition: width ease-in-out 0.1s;
}
@media (max-width: 576px) {
  .loading__progress-bar {
    font-size: 16px;
  }
}
.loading__progress.animated .loading__progress-bar {
  -webkit-animation: progressLoading 2.5s linear;
          animation: progressLoading 2.5s linear;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 32px 0;
}
@media (max-width: 1024px) {
  .header {
    padding: 24px 0;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 20px 0;
  }
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
  padding: 11px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 18px;
  background: rgba(14, 14, 22, 0.75);
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.header__logo-icon {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
  width: 26px;
  height: auto;
}
.header__logo-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 222%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  gap: 10px;
}
.header__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  border-radius: 6px;
}
.header__social-link_x {
  background-color: #282828;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.header__social-link_tg {
  background-image: linear-gradient(135deg, #0b00e2 0%, #3184ff 100%);
}
.header__social-link-image {
  display: block;
  max-width: 100%;
  width: 12px;
  height: auto;
}
.header__lang {
  position: relative;
  z-index: 10;
}
.header__lang::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.header__lang.active::before {
  display: block;
}
.header__lang-current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px;
  gap: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border-radius: 12px;
  background-color: #696974;
  cursor: pointer;
}
.header__lang-current::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  aspect-ratio: 1/1;
  background: url(../assets/caret-down.svg) center/cover no-repeat;
  -webkit-transition: -webkit-transform ease-out 0.2s;
  transition: -webkit-transform ease-out 0.2s;
  transition: transform ease-out 0.2s;
  transition: transform ease-out 0.2s, -webkit-transform ease-out 0.2s;
}
.header__lang.active .header__lang-current::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header__lang-list {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  padding: 8px 8px;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  background-color: #373742;
  -webkit-transition: opacity ease-out 0.2s;
  transition: opacity ease-out 0.2s;
  display: none;
}
.header__lang-list-item {
  min-width: 46px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  border-radius: 4px;
}
.header__lang-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header__lang.active .header__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: none;
  background-color: #121213;
}
.loading-screen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100dvh;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.loading-screen__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 15px;
}
.loading-screen__figure-image {
  display: block;
  max-width: 100%;
  width: 248px;
  height: auto;
}
@media (max-width: 1024px) {
  .loading-screen__figure-image {
    width: 200px;
  }
}
@media (max-width: 576px) {
  .loading-screen__figure-image {
    width: 150px;
  }
}
.loading-screen__title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 98%;
  color: #fff;
}
@media (max-width: 1024px) {
  .loading-screen__title {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .loading-screen__title {
    font-size: 18px;
  }
}

.intro {
  background: url(../assets/intro-bg.webp) center/cover no-repeat;
}
.intro__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100dvh;
  padding: 160px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.intro__info {
  max-width: 500px;
  margin: 0 auto;
  padding: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(14, 14, 22, 0.85);
}
.intro__info-text {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
@media (max-width: 576px) {
  .intro__info-text {
    font-size: 16px;
  }
}
.intro__info-next-button::before {
  content: "";
  display: block;
  width: 18px;
  aspect-ratio: 1/1;
  background: url(../assets/globe.svg) center/cover no-repeat;
}

.connect-game {
  background: url(../assets/page-bg.webp) center/cover no-repeat;
}
.connect-game__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100dvh;
  padding: 168px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1024px) {
  .connect-game__wrapper {
    padding: 168px 0 40px;
  }
}
@media (max-width: 576px) {
  .connect-game__wrapper {
    padding: 124px 0 52px;
  }
}
.connect-game__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  width: 100%;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(14, 14, 22, 0.85);
}
@media (max-width: 1024px) {
  .connect-game__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 16px;
    max-width: 640px;
    padding: 0;
    border: none;
    border-radius: 0px;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background-color: rgba(14, 14, 22, 0);
  }
}
.connect-game__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 16px);
          flex: 0 0 calc(50% - 16px);
}
@media (max-width: 1024px) {
  .connect-game__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 24px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    background-color: rgba(14, 14, 22, 0.85);
  }
}
.connect-game__info-title {
  margin: 0 0 8px;
  font-weight: 500;
  font-size: 22px;
  line-height: 109%;
  text-align: center;
  color: #fff;
}
@media (max-width: 576px) {
  .connect-game__info-title {
    font-size: 18px;
    text-align: left;
  }
}
.connect-game__info-text {
  margin: 0 0 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
@media (max-width: 576px) {
  .connect-game__info-text {
    margin: 0 0 19px;
    font-size: 14px;
    line-height: 129%;
  }
}
.connect-game__info-text:last-child {
  margin: 0;
}
.connect-game__info-text b {
  font-weight: 700px;
}
.connect-game__connect {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 16px);
          flex: 0 0 calc(50% - 16px);
}
@media (max-width: 1024px) {
  .connect-game__connect {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
.connect-game__connect-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.connect-game__connect-figure-image {
  display: block;
  max-width: 100%;
  width: 240px;
  height: auto;
}
.connect-game__connect-info {
  padding: 16px;
  border-radius: 12px;
  background-color: #32342c;
}
@media (max-width: 1024px) {
  .connect-game__connect-info {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    background-color: rgba(14, 14, 22, 0.85);
  }
}
.connect-game__connect-info-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 31px;
  margin: 0 0 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
@media (max-width: 576px) {
  .connect-game__connect-info-text {
    gap: 18px;
    font-size: 14px;
    line-height: 129%;
  }
}

.cabinet {
  position: relative;
  overflow: hidden;
  background: url(../assets/page-bg.webp) center/cover no-repeat;
}
@media (max-width: 1024px) {
  .cabinet::before {
    content: "";
    position: absolute;
    top: 20%;
    left: -100px;
    right: -100px;
    bottom: -100px;
    z-index: 1;
    color: #0e0e16;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 14, 22, 0)), color-stop(50%, #0e0e16));
    background: linear-gradient(180deg, rgba(14, 14, 22, 0), #0e0e16 50%);
    -webkit-filter: blur(30px);
            filter: blur(30px);
  }
}
.cabinet__wrapper {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100dvh;
  padding: 168px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1024px) {
  .cabinet__wrapper {
    padding: 168px 0 40px;
  }
}
@media (max-width: 576px) {
  .cabinet__wrapper {
    padding: 124px 0 52px;
  }
}
.cabinet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 32px;
  width: 100%;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-color: rgba(14, 14, 22, 0.85);
}
@media (max-width: 1024px) {
  .cabinet__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 640px;
    gap: 16px;
    padding: 0;
    border: none;
    border-radius: 16px;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background-color: rgba(14, 14, 22, 0);
  }
}
.cabinet__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 1024px) {
  .cabinet__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 24px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    background-color: rgba(14, 14, 22, 0.85);
  }
}
.cabinet__info-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.cabinet__info-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  margin: 10px 0;
  padding: 12px 16px;
  border: 1px solid #9278f4;
  border-radius: 16px;
}
.cabinet__info-rank-id {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  color: #fff;
}
.cabinet__info-rank-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 8px;
}
.cabinet__info-rank-user-avatar {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 36px;
  aspect-ratio: 1/1;
  border-radius: 36px;
  overflow: hidden;
  background-color: #9278f4;
}
.cabinet__info-rank-user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  color: #fff;
}
.cabinet__info-rank-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  gap: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  color: #fff;
}
.cabinet__info-rank-stars::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 22px;
  aspect-ratio: 1/1;
  background: url(../assets/star.svg) center/cover no-repeat;
}
.cabinet__info-message {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.cabinet__info-message b {
  font-weight: 700;
}
.cabinet__info-disclaimer {
  margin: 0 0 29px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}
.cabinet__info-disclaimer b {
  font-weight: 700;
}
.cabinet__info-character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cabinet__info-character-image {
  display: block;
  max-width: 100%;
  width: 222px;
  height: auto;
}
.cabinet__info-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cabinet__info-controls-button {
  max-width: 640px;
}
.cabinet__stats {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cabinet__stats-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  padding: 10px 16px;
  border-radius: 12px;
  background-color: #9278f4;
}
.cabinet__stats-heading-rank {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74px;
          flex: 0 0 74px;
  font-weight: 500;
  font-size: 18px;
  line-height: 98%;
  color: #fff;
}
.cabinet__stats-heading-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 16px;
}
.cabinet__stats-heading-user-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 98%;
  color: #fff;
}
.cabinet__stats-heading-user-search {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.cabinet__stats-heading-user-search-input {
  display: inline-block;
  width: 100%;
  padding: 10px;
  padding-left: 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #5d5d62;
  border: none;
  border-radius: 12px;
  background: url(../assets/search-magnifying-glass.svg) left 20px center/24px no-repeat;
  background-color: #1a1a1c;
}
@media (max-width: 576px) {
  .cabinet__stats-heading-user-search-input {
    padding-left: 40px;
    background-position: left 13px center;
  }
}
.cabinet__stats-heading-user-search-input:hover {
  color: #ffffff;
}
.cabinet__stats-heading-points {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72px;
          flex: 0 0 72px;
  font-weight: 500;
  font-size: 18px;
  line-height: 98%;
  color: #fff;
  text-align: right;
}
@media (max-width: 576px) {
  .cabinet__stats-heading-points {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.cabinet__stats-list {
  max-height: 400px;
  margin-right: -10px;
  margin-bottom: -20px;
  overflow: auto;
}
@media (max-width: 1024px) {
  .cabinet__stats-list {
    max-height: none;
    margin: 0;
    overflow: visible;
  }
}
.cabinet__stats-list::-webkit-scrollbar-track {
  border-radius: 10px;
}
.cabinet__stats-list::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0);
}
.cabinet__stats-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #696974;
}
.cabinet__stats-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
  margin: 0;
  padding: 12px 16px;
  border-radius: 16px;
}
.cabinet__stats-list-item-id {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 74px;
          flex: 0 0 74px;
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  color: #fff;
}
.cabinet__stats-list-item-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  gap: 8px;
}
.cabinet__stats-list-item-user-avatar {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 36px;
  aspect-ratio: 1/1;
  border-radius: 36px;
  overflow: hidden;
  background-color: #9278f4;
}
.cabinet__stats-list-item-user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  color: #fff;
}
.cabinet__stats-list-item-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 72px;
          flex: 0 0 72px;
  gap: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  color: #fff;
}
.cabinet__stats-list-item-stars::after {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 22px;
  aspect-ratio: 1/1;
  background: url(../assets/star.svg) center/cover no-repeat;
}